table.th-left th {
    text-align: left;
}

.red {
    color: red;
}

.green {
    color: green;
}

th, td {
    padding: 5px;
}

.bold {
    font-weight: bold;
}

nav ul {
    float: left;
}
