<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/base.css">
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>You are spectating.</p>
	</body>
</html>